/* remove default border */
body {
    border: 0px;
    margin: 0px;
    position: relative;     
}


/* remove default link styling */
a:hover {
    text-decoration: none;
}
a {
    text-decoration: none;
}


/* nav bar should hover on the bottom, easy asses for using the app with one hand */
.navBar {
    position: fixed;
    bottom: 0;
    width: 100%;
}